/* Add Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* some reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: darkslategray;
  height: 100vh;
  
}

/* Navbar design */
#navbar{
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(3px);
  box-shadow: 2px 3px 4px black;
  }
  
 #nav-menubar{
  display: none;
  color: white;
  font-size: 2.6rem;
 }
  
  
  
/* Navlist design using flexbox */
ul{
display: flex;  
margin-left: 50px;
}
ul li{
margin: 0 20px;  
  transition: 0.5s ease;
}
ul li:hover{
  transform: translateY(-8px);
}

ul li a{
  color: white;
  font-weight: bold;
  transition: 0.5s ease;
  font-size: 1.1rem;
}

ul li a:hover{
  border-bottom: 3px solid red;
  
}
/* Logo Design */
.bx-joystick{
  color: white;
  font-size: 2.5rem;
  transition: 0.5s ease;
  padding: 0 10px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.bx-joystick:hover{
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  border: 2px solid red;
}

#second-logo{
  display: none;
}


/* Search box Design */
.search-container{
  background-color: white;
  border-radius: 20px;
}
.search-box{
  padding: 5px 4px;
  width: 120px;
  border-radius: 20px 0 0 20px;
  border: none;
  
}
#search-button{
  padding: 4px 4px;
  border-radius: 0 10px 10px 0;
  font-weight: bolder;
  background-color: white;
  border: none;
  border-left: 1px solid black;
  transition: 0.5s ease;
}
#search-button:hover{
  color: red;
}

#search-form{
  display: none;
}




/* Profile Logo Designs */
.bx-user-circle{
  color: white;
  font-size: 2.5rem;
  transition: 0.5s ease;
}

.bx-user-circle:hover{
  color: red;
}

#second-profile{
  display: none;
}


/* Media Quarries */

@media (min-width: 600px) and (max-width: 754px){
  

  ul{
margin: 0;

  }
ul li {
  font-size: 1.2rem;
  margin: 0 8px ;
}
ul li a{
  font-size: 1rem;
}



.search-box{
  width: 80px;
}

}

@media (min-width: 600px){

  #nav-menu{
    display: block;
    position: relative;
    top: 0;
  }

}



@media (max-width: 600px){

#menubar{
  display: block;

}
#navbar{
  justify-content: space-between;
  padding: 0 10px;
}
#nav-menubar{
  display: inline-block;
  position: fixed;
  top: 12px;
  right: 25px;
}

#second-logo{
  display: block;
  font-size: 3rem;
}


.ullist {
  flex-direction: column;
  margin: 0;
  background-color: black;
  top: 0;
  height: 100vh;
  position: fixed;
  width: 80%;
  align-items: center;
  gap: 50px;
  left: -80%;
  padding: 30px 0;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

#search-form{
  display: block;

}

.search-container{
  display: none;
  
}

.profile-icon{
  display: none;
}
#second-profile{
  display: block;
  font-size: 3.5rem;
}

.ullist.open{
left: 0;
 
}


}


